.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 67.5vw;
    height: 3rem;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.15);

    // celular
        @media (max-width: 375px) {
            margin-bottom: 40px;
            

        }

    .extension{
        display: flex;
        align-items: center;
        padding-left: .6rem;

        .logo{
            width: 7rem;
            
        }
    }
    .moon{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: .6rem;
        background-color: hsl(0, 0%, 78%);
        width: 40px;
        height: 40px;
        border-radius: 10px;

        .iconMoon{
            width: 1.3rem;
        }
    }
}