$primary-color: #f25c54;
$secondary-color: hsl(200, 60%, 99%);
$light-gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
$dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
$text-color: hsl(227, 75%, 14%);
$btn-active-background: hsl(3, 77%, 44%);
$btn-background: hsl(200, 60%, 99%);
$border: hsl(0, 0%, 78%);